@model HistoryIndexViewModel
<div class="menu">
    History
</div> 

<div class="grid-container">
    <form class="filter" method="get" asp-action="index">
        <label asp-for="BuyerId"></label>
        <select asp-for="BuyerId" asp-items="Model.Buyers">
            <option value=null>All Buyers</option>
        </select>     
        <label asp-for="SellerId"></label>
        <select asp-for="SellerId" asp-items="Model.Sellers">
            <option value=null>All sellers</option>
        </select>        
        <button class="blue-button">Search</button>
        @*<input type="submit" value="Search" />*@
    </form>
    <table>
        <thead>
        <th>Date</th>
        <th>Seller</th>
        <th>Buyer</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Shipment</th>
        <th>Total Price</th>
        </thead>
        <tbody>
            @foreach (var history in Model.Histories)
            {
                <tr>
                    <td>@history.OrderDate.ToString("M/d/yyyy")</td>
                    <td>@history.SellerName</td>
                    <td>@history.BuyerName</td>
                    <td>@history.ProductName</td>
                    <td>@history.Quantity</td>
                    <td>@history.Shipment</td>
                    <td>@history.TotalPrice.ToString("C0")</td>
                </tr>
            }
        </tbody>
    </table>

</div>